fastapi
uvicorn[standard]
python-dotenv
requests
streamlit>=1.42
google-generativeai
qdrant-client
flashrank
langgraph
pydantic>=2.0.0
pydantic-settings
python-docx
python-pptx
pypdf
pdfplumber
beautifulsoup4
nemoguardrails
PyYAML>=6.0.2
openai
portkey-ai
